[Desktop Entry]
Type=Application
Name=n8me
Icon=/home/pi/sbitx-n8me/sbitx_icon_old.png
Exec=/home/pi/sbitx-n8me/build/sBitx
Name[en_US]=n8me
Terminal=false
Categories=None;
